@font-face {
    font-family: 'Cardo-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Cardo-Regular.woff') format('woff'),
         url('../fonts/Cardo-Regular.woff2') format('woff2'),
}

@font-face {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Lato-Regular.woff') format('woff'),
         url('../fonts/Lato-Regular.woff2') format('woff2'),
}

@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.woff2') format('woff2'),
}

@font-face {
    font-family: 'DraftingMono-Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/DraftingMono-Light.woff') format('woff'),
         url('../fonts/DraftingMono-Light.woff2') format('woff2'),
}
