@font-face {
    font-family: 'Cardo-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Cardo-Regular.woff') format('woff'),
<<<<<<< HEAD
         url('../fonts/Cardo-Regular.woff2') format('woff2');
=======
         url('../fonts/Cardo-Regular.woff2') format('woff2'),
>>>>>>> 8444e4d7b8392d1fbada77e136cb4bb6c96ed758
}

@font-face {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Lato-Regular.woff') format('woff'),
<<<<<<< HEAD
         url('../fonts/Lato-Regular.woff2') format('woff2');
=======
         url('../fonts/Lato-Regular.woff2') format('woff2'),
>>>>>>> 8444e4d7b8392d1fbada77e136cb4bb6c96ed758
}

@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Roboto-Regular.woff') format('woff'),
<<<<<<< HEAD
         url('../fonts/Roboto-Regular.woff2') format('woff2');
=======
         url('../fonts/Roboto-Regular.woff2') format('woff2'),
>>>>>>> 8444e4d7b8392d1fbada77e136cb4bb6c96ed758
}

@font-face {
    font-family: 'DraftingMono-Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/DraftingMono-Light.woff') format('woff'),
<<<<<<< HEAD
         url('../fonts/DraftingMono-Light.woff2') format('woff2');
}
=======
         url('../fonts/DraftingMono-Light.woff2') format('woff2'),
}
>>>>>>> 8444e4d7b8392d1fbada77e136cb4bb6c96ed758
