.button {
	border: 1px solid $color-black;
	border-radius: 20px;
	padding: 5px 25px;
	text-transform: lowercase;
	cursor: pointer;
	transition: 0.3s;

	@include hover {
		&:hover {
			color: $color-white;
			background-color: $color-black;
		}
	}
}

.title {
	font: {
		family: $ff-roboto;
		size: 52px;
	}

	@media (max-width: $tablet-width) {
		font-size: 40px;
	}
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

// Block 'purchase', on-scroll-pictures.js
.to-bottom {
    animation: leftToBottom 1s ease-in-out 1 forwards;
}

.to-top {
    animation: rightToTop 1s ease-in-out 1 forwards;
}

.back-to-top {
	animation: leftBackToTop 1s ease-in-out 1 forwards;
}

.back-to-bottom {
	animation: rightBackToBottom 1s ease-in-out 1 forwards;
}
