// Colors

$color-seashell: #FCFAF8;
$color-black: #000000;
$color-white: #FFFFFF;

// Fonts

$ff-cardo-regular: 'Cardo-Regular', 'Arial', sans-serif;
$ff-lato: 'Lato-Regular', 'Arial', sans-serif;
$ff-roboto: 'Roboto', 'Arial', sans-serif;
$ff-drafting-mono-light: 'DraftingMono-Light', 'Arial', sans-serif;


// Media

$tablet-width: 1023px;
$mobile-width: 767px;