.intro {
    padding: 100px 0 64px;

    &__title {
        font: {
            family: $ff-roboto;
            size: 72px;
            weight: 400;
        }
        max-width: 700px;
        margin-bottom: 65px;
    }
}