.menu {
    font: {
        family: $ff-lato;
        size: 15px;
    }
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 34px;

    &__item {
        transition: .3s;

        a {
            cursor: pointer;
            padding: 10px;
        }

        &:hover {
            opacity: .5;
        }
    }

    @media (max-width: $tablet-width) {
        margin-bottom: 64px;
    }

    @media (max-width: $mobile-width) {
        flex-direction: column;
    }
}