.purchase {
	padding-bottom: 192px;

	&__title {
		max-width: 290px;
		font-weight: 400;
		text-align: center;
		margin: 0 auto 95px;
	}

	&__list {
		font: {
			family: $ff-roboto;
			size: 52px;
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto
	}

	&__item {
		padding: 25px 45px;
        cursor: pointer;

		a {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				width: 0;
				height: 4px;
				background-color: $color-black;
				left: 0;
				bottom: 0;
                transition: width .3s ease-out;
			}
		}

        &:hover a::after {
            width: 100%;
        }
	}

	&__btn {
		display: block;
		margin: 110px auto 0;
	}


    &__wrapper {
        position: relative;
    }

    &__img {
        position: absolute;

        &_left {
            top: 0;
            left: 0;
        }

        &_right {
            bottom: 0;
            right: 0;
        }
    }
}
