.services {
    padding-bottom: 114px;

    &__title {
        text-align: center;
        margin-bottom: 100px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 60px;
        padding-bottom: 172px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        h3 {
            font: {
                family: $ff-roboto;
                size: 22px;
            }
            margin-bottom: 20px;
            text-align: center;
        }

        p {
            text-align: center;
        }
    }

    &__subtitle {
        display: block;
        text-align: center;
        margin-bottom: 32px;
    }

    &__button {
        display: block;
        margin: 0 auto;
    }

    @media (max-width: $tablet-width) {
        &__list {
            grid-template-columns: repeat(3, minmax(190px, 1fr));
            gap: 30px;
        }
    }

    @media (max-width: $mobile-width) {
        padding-bottom: 132px;

        &__title {
            margin-bottom: 90px;
        }

        &__list {
            grid-template-columns: 1fr;
            padding-bottom: 132px;
        }
    }
}