.slider {
	&__list {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		overflow: hidden;
	}

	&__item {
		width: 339px;
		height: 100%;
		display: flex;
		flex-direction: column;
		margin-right: 20px;

		&:last-child {
			margin: 0;
		}
	}

    &__desc {
        margin: 16px 0 5px;
    }

	&__price {
		margin-top: auto;
	}

	&__btns {
		display: flex;
		gap: 8px;
		position: absolute;
        top: 0;
        right: 0;

		button {
			&:first-child {
				transform: scale(-1, 1);
			}
		}
	}

	&__btn {
		width: 48px;
		height: 48px;
		position: relative;
		border: 1px solid $color-black;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
        cursor: pointer;
        transition: all .3s;

		span {
			position: relative;
			width: 20px;
			height: 3px;
			background-color: $color-black;
			border-radius: 10px;
			cursor: pointer;

			&::before {
				content: "";
				position: absolute;
				width: 9px;
				height: 3px;
				background-color: $color-black;
				border-radius: 10px;
				top: -3px;
				right: 0;
				transform: rotate(45deg);
				cursor: pointer;
			}

			&::after {
				content: "";
				position: absolute;
				width: 9px;
				height: 3px;
				background-color: $color-black;
				border-radius: 10px;
				bottom: -3px;
				right: 0;
				transform: rotate(-45deg);
				cursor: pointer;
			}
		}

        &:hover {
            background-color: $color-black;

            span {
                background-color: $color-white;

                &::before,
                &::after {
                    background-color: $color-white;
                }
            }
        }
	}
}
